elastic-host: elk.browbeatproject.org
elastic-port: 9200

tests:
  - workload: "rally"
    test: "neutron.create_network"
  - workload: "rally"
    test: "neutron.create_subnet"
  - workload: "rally"
    test: "nova.boot_server"
  - workload: "rally"
    test: "neutron.create_port"
  - workload: "rally"
    test: "nova.delete_server"
  - workload: "rally"
    test: "neutron.create_router"
  - workload: "rally"
    test: "neutron.add_interface_router"
  - workload: "rally"
    test: "neutron.list_networks"
  - workload: "rally"
    test: "authenticate.keystone"
  - workload: "rally"
    test: "nova.create_image"
  - workload: "rally"
    test: "nova.delete_image"
  - workload: "rally"
    test: "neutron.list_subnets"
  - workload: "rally"
    test: "neutron.list_routers"
  - workload: "rally"
    test: "neutron.create_security_group"
  - workload: "rally"
    test: "neutron.list_ports"
  - workload: "rally"
    test: "neutron.list_security_groups"
  - workload: "rally"
    test: "nova.list_servers"
  - workload: "rally"
    test: "glance.create_image"
  - workload: "rally"
    test: "glance.delete_image"
  - workload: "rally"
    test: "keystone_v2.create_tenant"

watched_versions:
  - "11-tripleo"
  - "11-director"
  - "12-director"
  - "master-tripleo"
  - "master-director"
  - "10-tripleo"
  - "10-director"
  - "9-tripleo"
  - "9-director"
  - "8-tripleo"
  - "8-director"

# list of cloud names to grab uuid's for
clouds:
  - "microbrow-ha-2-compute-2"
  - "microbrow-ha-2-compute-1"
  - "microbrow-HA-2-compute-2"
  - "microbrow-HA-2-compute-1"

ignored_tests:
  - "nova.boot_server"
  - "glance.create_image"
  - "glance.delete_image"

osp_version_dic:
  - 10-director: 1
  - 10-tripleo: 2
  - 11-director: 3
  - 11-tripleo: 4
  - 12-director: 5
  - master-tripleo: 6
  - 9-director: 7
  - 9-tripleo: 8

test_name_dic:
  - "authenticate.keystone": 1
  - "glance.create_image": 2
  - "glance.delete_image": 3
  - "keystone_v2.create_tenant": 4
  - "neutron.add_interface_router": 5
  - "BrowbeatPlugin.create_network_nova_boot.neutron.create_network": 61
  - "NeutronNetworks.create_and_list_routers.neutron.create_network": 62
  - "NeutronNetworks.create_and_list_subnets.neutron.create_network": 63
  - "NeutronNetworks.create_and_list_ports.neutron.create_network": 64
  - "NeutronNetworks.create_and_list_networks.neutron.create_network": 65
  - "neutron.create_port": 7
  - "neutron.create_router": 8
  - "neutron.create_security_group": 9
  - "NeutronNetworks.create_and_list_subnets.neutron.create_subnet": 101
  - "NeutronNetworks.create_and_list_routers.neutron.create_subnet": 102
  - "BrowbeatPlugin.create_network_nova_boot.neutron.create_subnet": 103
  - "neutron.list_networks": 11
  - "neutron.list_ports": 12
  - "neutron.list_routers": 13
  - "neutron.list_security_groups": 14
  - "neutron.list_subnets": 15
  - "nova.boot_server": 16
  - "nova.create_image": 17
  - "nova.delete_image": 18
  - "nova.delete_server": 19
  - "nova.list_servers": 20

test_with_scenario_list:
  - "neutron.create_network"
  - "neutron.create_subnet"

table_name:
  - 'prod_data'

table_errors:
  - 'num_errors'

database:
  - 'ml_values'

user_name:
  - 'pythonclient'

host:
  - cr-cluster.scalelab.redhat.com

# Please keep in mind that this is
# used to decide which pickle file to use
# so if your file is named
# svc.pkl then use svc
# but if named dtree.pkl then use dtree and so on
# We've provided svc, dtree and gnb(GaussianNB) by default
# but you'll need to update the classifier using your own
# database
classifier:
  - svc

classifier_lists:
  - svc
  - dtree
  - gnb
